<% content_for :title do %>
    <p class="flash-Bigtitle"><em>Register to contribute to the ICCA</em></p>
<% end %>

<% content_for :banner do %>
    <div class="span-24 column widgetContainer">
      <div class="widget">
      </div>
    </div>
<% end %>

<div class="span-15 first articles">
  <div class="span-9 first article">
    <h2>Register</h2>
    <p>Register with the ICCA to contribute </p>

    <%= render :partial => 'form' %>
    <%= link_to 'Back', users_path %>
  </div>


  <div class="span-6 last article">
    <h2>Already registered?</h2>
    <%= link_to "Login here >>>", login_path %>
  </div>

</div>


<div class="span-8 last newscontact">
	<%= render :partial => '/static/contribute_menu' %> 		
	<%= render :partial => '/static/publications' %> 
</div>
