<div class="new">	
  <h2 class="newsColumn flash-h2"><%= t 'contribute_menu.title' %></h2>
    <ol>
      <li><%= link_to t("contribute_menu.step_list.step_1.link_text"), t("files.fpic") %></li>
      <li>
        <%= t 'contribute_menu.step_list.step_2.text' %><br/>
          <i>
            (a)<%= link_to t("contribute_menu.step_list.step_2.sub_step_1.link_text"), t("files.wdpa_consent") %><%= t'contribute_menu.step_list.step_2.sub_step_1.text' %><br/>
            <% if current_user %>
              (b)<%= link_to t("contribute_menu.step_list.step_2.sub_step_2.logged_in"), forms_path %><br/>
            <% else %>
              (b)<%= link_to t("contribute_menu.step_list.step_2.sub_step_2.logged_out.link_text"), new_user_path %>
              <%= t "contribute_menu.step_list.step_2.sub_step_2.logged_out.link_text" %><br/>
            <% end %>
          </i>
      </li>
      <% if current_user %>
         <li><%= link_to t("contribute_menu.step_list.step_3.logged_in"), forms_path %></li>
      <% else %>
         <li><%= link_to t("contribute_menu.step_list.step_3.logged_out"), forms_path %></li>
      <% end %>
      <li><%= t 'contribute_menu.step_list.step_4' %></li>
    </ol>
    <br clear="all" />
</div>
