<div class="new">	
    <h2 class="newsColumn flash-h2">Follow these Steps to Contribute</h2>
    <ol>
      <li><%= link_to "Read the ICCA Registry FPIC Form", "/docs/ICCA%20Registry%20FPIC%20Form.doc" %></li>
      <li>
        Review and sign the Free Prior Informed Consent form <br/>
          <i>
            (a)<%= link_to "Download", "docs/WDPA%20ICCA%20consent%20form.doc" %>, complete and submit<br/>
            <% if current_user %>
              (b)<%= link_to "Complete the form online", forms_path %><br/>
            <% else %>
              (b)<%= link_to "Register", new_user_path %> and complete online<br/>
            <% end %>
          </i>
      </li>
      <% if current_user %>
         <li><%= link_to "Complete the ICCA Questionnaire", forms_path %></li>
      <% else %>
          <li><%= link_to "Complete the ICCA Questionnaire online", new_user_path %></li>
      <% end %>
      <li>Upload spatial data and other documents</li>
    </ol>
    <br clear="all" />
</div>
