<% content_for :title do 
  title_text = t("home.title")
  two_lines = title_text.length > 60 %>
  <p class="flash-Bigtitle" style="<%= "line-height:0.5em;" if two_lines %>"><%= title_text %></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">

  </div>
  <div class="span-15 last article articleborder">
    <h2 class="flash-h2">
      <% if @content %>
        <%= @content.title %>
      <% else %>
        <%= t 'about.about_title' %>
      <% end -%>	
    </h2>

    <% if @content %>
      <%= @content.body %>
      <% if can? :update, @content %>
        <%= link_to 'Edit', edit_static_content_path(@content), :class => "textLink" %>
      <% end %>				
    <% else %>
      <p><%= t 'about.para_1' %></p>
      <p><%= t 'about.para_2', :citation_link => link_to("World Parks Congress Recommendation V26, 2003", 'http://www.iucn.org/about/work/programmes/pa/pa_event/wcpa_wpc/') %></p>
      <p><%= t 'about.para_3' %></p>
      <p><%= t 'about.para_4' %></p>
      <p><%= t 'about.para_5' %></p>
      <p><%= t 'about.para_6' %></p>
      <ol>
        <li><%= t 'about.icca_elem_1' %></li>
        <li><%= t 'about.icca_elem_2' %></li>
        <li><%= t 'about.icca_elem_3' %></li>
      </ol>
    <% end -%>
  </div>
  <div class="span-15 last moreICCA">
    <p><%= link_to "Learn more about the Registry", countries_path, {:class => "more"} %></a></p>
  </div>
</div>


<div class="span-8 last newsabout">
  <div class="new">
    <h2 class="newsColumn flash-h2"><%= t 'home.about_title' %></h2>
    <p class="newsContent newborder"><%= t 'home.about_text' %></p>
  </div>
  <div class="new">

    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>


    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>

</div>
