<% content_for :title do %>
    <p class="flash-Bigtitle"><em><%= t 'acknowledgements.title' %></em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2">
      <%= t 'acknowledgements.title' %>
    </h2>
    <p><%= t 'acknowledgements.para' %></p>
    <p>UNEP-WCMC <%= t 'acknowledgements.volunteers' %></p>
    <ul>
      <li>Sarah Jones</li>
      <li>Lea Wortmann</li>
      <li>Daniel Ham</li>
      <li>Katy Lannas</li>
      <li>Robin Johnson</li>
      <li>Sam Yellen</li>
      <li>Rebecca Smith</li>
      <li>Tim Rademacher</li>
    </ul>
    <p><%= t 'acknowledgements.translators' %></p>
    <ul>
      <li>Anne Kauffman</li>
      <li>Karen Meersohn</li>
      <li>Lyse Kapche</li>
      <li>Yizas Marimont Lara</li>
      <li>Chloé Dusaussoy</li>
    </ul>
  </div>

</div>


<div class="span-8 last newscontact">
  <div class="new">
    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>
    <div id="basic-modal-content">
    </div>
    <br clear="all" />
  </div>
</div>
