<% content_for :title do %>
  <p class="flash-Bigtitle"><em>
    <%= t 'benefits.title' %>
  </em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2">
      <%= t 'benefits.title' %>
    </h2>
    <p><%= t 'benefits.para_1' %></p>

    <h3><%= t 'benefits.benefits_title' %></h3>
    <p><%= t 'benefits.benefits_para' %></p>
    <ul>
      <li><%= t 'benefits.benefit_1' %></li>
      <li><%= t 'benefits.benefit_2' %></li>
      <li><%= t 'benefits.benefit_3' %></li>
      <li><%= t 'benefits.benefit_4' %></li>
      <li><%= t 'benefits.benefit_5' %></li>
      <li><%= t 'benefits.benefit_6' %></li>
      <li><%= t 'benefits.benefit_7' %></li>
      <li><%= t 'benefits.benefit_8' %></li>
      <li><%= t 'benefits.benefit_9' %></li>
    </ul>

    <h3><%= t 'benefits.risks_title' %></h3>
    <p><%= t 'benefits.risks_para' %></p>
    <ul>
      <li><%= t 'benefits.risk_1' %></li>
      <li><%= t 'benefits.risk_2' %></li>
      <li><%= t 'benefits.risk_3' %></li>
      <li><%= t 'benefits.risk_4' %></li>
    </ul>
    <p><%= t 'benefits.para_2', :link => link_to("contact us", contact_path) %></p>
  </div>

</div>


<div class="span-8 last newscontact">
  <div class="new">
    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>
    <div id="basic-modal-content">
    </div>
    <br clear="all" />
  </div>
</div>
