<% content_for :title do %>
    <p class="flash-Bigtitle"><em>Contribute to the ICCA registry</em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <h1 class="flash-h2">
      Contributing to the Registry
    </h1>
    <p>
      For communities and others who want to contribute to the Registry and benefit from using it, there are several
      important but simple steps to follow. All information is treated with respect and discretion while adhering to the
      principles of the 2007 UN Declaration on the Rights of Indigenous Peoples. There are two opportunities for contributing: <br/>
        (a) provide information via an online questionnaire to the ICCA Registry Database, and <br/>
        (b) create a Case Study for the ICCA Registry website.
    </p>


    <h2 class="flash-h2">
      (A) Instructions for contributing to the ICCA Registry Database
    </h2>

    <h4>
      Step 1: Read the <%= link_to "ICCA Registry FPIC Form", "docs/ICCA%20Registry%20FPIC%20Form.doc" %> and discuss
      among community members the ICCA Registry.
    </h4>
    <p>
      Members of the community need to review together the benefits and risks of contributing to the Registry Database so
      that everyone is aware of the process, the challenges, and the potential positive and negative consequences. 
    </p>

    <h4>
      Step 2:  Review the Free Prior Informed Consent Form with community members to attain key signatures. Two options
      exist for completing the form: <br/>
      (a) <%= link_to "Download the FPIC form", "docs/WDPA%20ICCA%20consent%20form.doc" %>, sign, and return to Registry managers  <br/>
      <% if current_user %>
        (b) <%= link_to "Open the electronic questionnaire form", forms_path %> and complete the FPIC section.<br/>
      <% else %>
        (b) <%= link_to "Register", new_user_path %> online, open the electronic questionnaire form and complete the FPIC section.
      <% end %>
    </h4>
    <p>
      The purpose of this consent form is to ensure that indigenous and local communities are aware of the process of
      contributing information to the Registry, they know how and what information will be used and accessed, and they
      have a choice regarding what information will be disclosed through various means (such as the ICCA website and
      future analytical publications). All communities can select the extent to which their information is shared. 
    </p>

    <h4>
      Step 3: Complete the ICCA Registry questionnaire with your ICCA information.
    </h4>
    <p>
      <% if current_user %>
        Visit your <%= link_to "user page", forms_path %> to fill in the ICCA Registry questionnaire online.<br/>
      <% else %>
        In order to fill in the ICCA Registry questionnaire online, you must first <%= link_to "register", new_user_path %>
        (or, if you have already registered, <%= link_to "login", login_path %>) to access your user page and
        the electronic questionnaire.<br/>
      <% end %>
      There are several required core questions (highlighted) that each community must answer to help inform key ICCA
      issues. Answers to additional questions will enhance understanding of ICCAs.  If the ICCA is already recognised by
      national legislation or a protected area system, the community should work with government representatives where
      possible to provide spatial and other information. The questionnaire can be
      <%= link_to "downloaded as a PDF Document", "docs/ICCA%20Registry%20Questionnaire.pdf" %>, or can be requested by email
    </p>

    <h4>
      Step 4: Submit spatial data and relevant documents. 
    </h4>
    <p>
      Spatial data can be uploaded for each questionnaire submitted through a link provided on your <%= link_to "user page", forms_path %>.
      You can also upload useful and relevant documents (such as management plans, community agreements and
      documented awards) on the user page. 
    </p>

    <h2 class="flash-h2">
      (B) Instructions for contributing ICCA Case Studies
    </h2>
    <p>
      Communities who are interested in having a visual presence on the ICCA Registry website can propose a case study
      webpage for their ICCA.
    </p>

    <h4>Step 1: Submit your completed case study template. </h4>
    <p>Download and complete the <%= link_to "case study template", "docs/ICCA%20Registry%20Case%20Study%20Template.doc"%> using information from your ICCA.</p>
    <h4>Step 2: Submit photos, videos, visual material, documents and weblinks.</h4>
    <p>
      We encourage you to send photos of community members, habitats, species, videos, website links, documents and
      other materials (such as scans of brochures or maps) to <%= link_to "iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org"%>
    </p>
    <p>
      Photos should be of good resolution, with a minimum of 300 dpi, for inclusion on the website. Any videos,
      including interview clips, to be included on the webpage must have a hyperlink provided from open source video
      website, e.g. YouTube or Google Videos. You can also submit useful and relevant documents (such as management
      plans, community agreements and documented awards).  Links to existing websites can also be included on the case
      study webpage to provide additional information about the ICCA and its conservation efforts and successes. All
      submissions should be clearly labelled with the specific ICCA reference.
    </p>
    
  </div>
</div>


<div class="span-8 last newscontact">  
	<%= render :partial => 'contribute_menu' %>
	<%= render :partial => 'publications' %>
</div>
