<% content_for :title do %>
  <p class="flash-Bigtitle"><%= t 'contribute.title' %></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <h1 class="flash-h2">
      <%= t 'contribute.contribute_title' %>
    </h1>
    <p>
      <%= t 'contribute.para_1' %><br/>
      <%= t 'contribute.opp_1' %><br/>
      <%= t 'contribute.opp_2' %><br/>
    </p>


    <h2 class="flash-h2">
      <%= t 'contribute.instructions_title' %>
    </h2>

    <h4>
      <%= t 'contribute.step_1.title_1' %>
      <%= link_to t('contribute.step_1.link_text'), t('files.fpic')  %>
      <%= t 'contribute.step_1.title_2' %>
    </h4>
    <p>
      <%= t 'contribute.step_1.text' %>
    </p>

    <h4>
      <%= t 'contribute.step_2.title' %><br/>
      (a) <%= link_to t("contribute.step_2.consent_link.text"), t("files.wdpa_consent") %><%= t 'contribute.step_2.consent_link.suffix' %><br/>
      <% if current_user %>
        (b) <%= link_to t("contribute.step_2.questionnaire_link.text"), forms_path %><%= t 'contribute.step_2.questionnaire_link.suffix' %><br/>
      <% else %>
        (b) <%= link_to t("contribute.step_2.register_link.text"), new_user_path %><%= t 'contribute.step_2.register_link.suffix' %><br/>
      <% end %>
    </h4>
    <p>
      <%= t 'contribute.step_2.text' %>
    </p>

    <h4>
      <%= t 'contribute.step_3.title' %>
    </h4>
    <p>
      <% if current_user %>
        <%= t 'contribute.step_3.logged_in.pre_link' %>
        <%= link_to t('contribute.step_3.logged_in.link_text'), forms_path %>
        <%= t 'contribute.step_3.logged_in.post_link' %><br/>
      <% else %>
        <%= t 'contribute.step_3.logged_out.pre_register_link' %>
        <%= link_to t('contribute.step_3.logged_out.register_link_text'), new_user_path %>
        <%= t 'contribute.step_3.logged_out.pre_login_text' %>
        <%= link_to t("contribute.step_3.logged_out.login_link_text"), login_path %>
        <%= t 'contribute.step_3.logged_out.post_link_text' %><br/>
      <% end %>
      <%= t 'contribute.step_3.pre_link_text' %>
      <%= link_to t('contribute.step_3.questionnaire_pdf_link_text'), t("files.questionnaire") %>
      <%= t 'contribute.step_3.post_link_text' %>
    </p>

    <h4>
      <%= t 'contribute.step_4.title' %>
    </h4>
    <p>
      <%= t 'contribute.step_4.pre_link_text' %>
      <%= link_to t('contribute.step_4.user_page_link'), forms_path %>
      <%= t 'contribute.step_4.post_link_text' %>
    </p>

    <h2 class="flash-h2"><%= t 'contribute.case_study_instructions.title' %></h2>
    <p><%= t 'contribute.case_study_instructions.text' %> </p>

    <h4><%= t 'contribute.case_study_instructions.step_1.title' %></h4>
    <p>
      <%= t 'contribute.case_study_instructions.step_1.text_1' %>
      <%= link_to t("contribute.case_study_instructions.step_1.link_text_1"), t("files.case_study_template") %>
      <%= t 'contribute.case_study_instructions.step_1.text_2' %>
    </p>

    <h4><%= t 'contribute.case_study_instructions.step_2.title' %></h4>
    <p>
      <%= t 'contribute.case_study_instructions.step_2.para_1.text' %>
      <%= link_to "iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org"%>
    </p>
    <p>
      <%= t 'contribute.case_study_instructions.step_2.para_2' %>
    </p>
    
  </div>
</div>


<div class="span-8 last newscontact">  
	<%= render :partial => 'contribute_menu' %>
	<%= render :partial => 'publications' %>
</div>
