<% content_for :title do %>
    <p class="flash-Bigtitle"><em><%= t 'faqs.title' %></em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2-special">
      <%= t 'faqs.title_1' %>
		</h2>
    <p><%= t 'faqs.para_1' %></p>
    <h2 class="flash-h2-special">
      <%= t 'faqs.title_2' %>
		</h2>
    <p><%= t 'faqs.para_2' , :icca_forum_link => link_to("www.iccaform.org", "http://iccaform.org") %></p>
    <h2 class="flash-h2-special">
      <%= t 'faqs.title_3' %>
		</h2>
    <p><%= t 'faqs.para_3' %></p>
    <h2 class="flash-h2-special">
      <%= t 'faqs.title_4' %>
		</h2>
    <p><%= t 'faqs.para_4' %></p>
    <h2 class="flash-h2-special"><%= t 'faqs.title_5' %></h2>
    <p><%= t 'faqs.para_5' %></p>
    <ol>
      <li><%= t 'faqs.information_option_1' %></li>
      <li><%= t 'faqs.information_option_2' %></li>
      <li><%= t 'faqs.information_option_3' %></li>
    </ol>
    <h2 class="flash-h2-special"><%= t 'faqs.title_6' %></h2>
    <p><%= t 'faqs.para_6' %></p>
    <h2 class="flash-h2-special"><%= t 'faqs.title_7' %></h2>
    <p><%= t 'faqs.para_6', :participate_link => link_to(t('nav.participate').downcase, participate_path) %></p>
    <h2 class="flash-h2-special"><%= t 'faqs.title_7' %></h2>
    <p><%= t 'faqs.para_7' %></p>
    <p><%= t 'faqs.para_8', :participate_link => link_to(t('nav.participate').downcase, participate_path) %></p>

  </div>
</div>


<div class="span-8 last newsfaq">
  <div class="new">

    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>

    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>
</div>
