<% content_for :title do %>
    <p class="flash-Bigtitle"><em>
				Frequently Asked Questions
	</em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2-special">
			<% if @content %>
				<%= @content.title %>
			<% else %>				
				What are Indigenous and Community Conserved Areas?
			<% end -%>
		</h2>
		
		<% if @content %>
			<%= @content.body %>
			<% if can? :update, @content %>
	        <%= link_to 'Edit', edit_static_content_path(@content), :class => "textLink" %>
	    <% end %>			
		<% else %>			
		
    <p>Indigenous and Community Conserved Areas (ICCAs) are natural sites, resources and species' habitats conserved in a voluntary and self-directed way through community values, practices, rules and institutions.	Examples of ICCAs include indigenous territories, indigenous protected areas, cultural land- and seascapes, sacred sites and species, migration routes of mobile indigenous peoples, bio-cultural heritage territories, sustainable resource reserves, fishing grounds, and community-managed areas.</p>
    <h2 class="flash-h2">What is the ICCA Consortium?</h2>
    <p>The ICCA Consortium was formed during the 2008 World Conservation Congress by several mutually respected small Non-Government Organisations (NGOs) and organizations representing indigenous and community constituencies with years of experience working on ICCA issues.	The group developed a broad programme to promote the recognition and appropriate support of ICCAs at national and international levels.</p>
    <h2 class="flash-h2">What is the ICCA Registry?</h2>
    <p>The Registry is an online database containing information on ICCAs worldwide, maintained by the United Nations Environment Programme’s World Conservation Monitoring Centre (UNEP-WCMC). The Registry has been set up to build a knowledge base about ICCAs that increases information about these special areas, documents their values, enhances understanding and recognition of their purposes and impacts, and increases engagement of local and traditional communities in biodiversity conservation and policy arenas.</p>
    <h2 class="flash-h2">What information does the Registry contain?</h2>
    <p>The two main types of information stored include: (1) descriptive information, such as the main habitats within the ICCA and the names of the community or communities living within or near the ICCA, and (2) spatial information, such as the size, location and boundaries of the area. Additional details are added as available, including provide information about the history, governance and management of an area, as well as details on community and socio- economic factors. Multimedia data, such as photos and videos, are also included where possible.</p>
    <h2 class="flash-h2">Who will be able to access the Registry?</h2>
    <p>Once the Registry is fully online, content will be freely available to the public via the webpage, providing the ICCA community has given their consent. However, if a community does not feel able to allow information about their lands and community to be freely available, they will be able to specify this within the “Free Prior Written Informed Consent Form”. This form is mandatory when submitting information about an ICCA. The extent that information can be shared is:<p>
    <p>i. Information is open to all;</p>
    <p>ii.	Information is open to Registry managers, and to others with prior permission of information providers (given on a case by case basis);</p>
    <p>iii.	Information is not open to anyone other than Registry managers, under any circumstance.</p>
    <h2 class="flash-h2">How do I submit information to the Registry about an ICCA?</h2>
    <p>Firstly you must review the "ICCA Registry FPIC Information Sheet" and then complete the “Free Prior Written Informed Consent Form”. The questionnaire can then be completed and either submitted via this website www.iccaregistry.org, or sent to the UNEP-WCMC staff at iccaregistry@unep-wcmc.org. Information is welcome at any time on any ICCA worldwide.</p>
    <h2 class="flash-h2">Why I cannot find information for ICCAs in certain countries?</h2>
    <p>This website is still in the pilot phase of the ICCA Registry online database. As such it only contains information for four pilot countries that were selected during the initial phase of the project. These countries are: Fiji, Kenya, México and the Philippines.</p>
    <p>The site will gradually be updated with more countries and sites, so please do check back for updates. New contributions on ICCAs, in any country, for the Registry can be submitted at any time. To submit information upon an ICCA please see the FAQ "How do I submit information to the Registry about an ICCA?"</p>
    <p><b>iccaregistry@unep-wcmc.org</b></p>
		<% end -%>
  </div>
</div>


<div class="span-8 last newsfaq">
  <div class="new">

    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>

    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>
</div>
