<% content_for :title do %>
  <p class="flash-Bigtitle"><%= t 'home.title' %></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2"><%= t 'home.explore_map' %></h2>
    <div class="worldmap" id="worldmap">
    </div>
  </div>
  <div class="span-15 last article articleborder">
    <h2 class="flash-h2">
      <% if @content %>
        <%= @content.title %>
      <% else %>	
        <%= t('home.icca_title') %>
      <% end -%>
    </h2>
    <% if @content %>
      <%= @content.body %>
      <% if can? :update, @content %>
        <%= link_to 'Edit', edit_static_content_path(@content), :class => "textLink" %>
      <% end %>
    <% else %>			
      <p><%= t 'home.para_1' %></p>
      <p><%= t 'home.para_2' %></p>
      <p><%= t 'home.para_3' %></p>
    <% end -%>
  </div>
  <div class="span-15 last moreICCA">
    <p><a href="about" class="more">Learn more about ICCAs</a></p>
  </div>
</div>


<div class="span-8 last newshome">
  <div class="new">
    <h2 class="newsColumn flash-h2"><%= t 'home.about_title' %></h2>
    <p class="newsContent newborder"><%= t 'home.about_text' %><b><%= link_to " Learn more", countries_path %></b></p>
  </div>

  <%= render :partial => 'publications' %>
	
  <div class="new">
    <h2 class="newsColumn flash-h2"><% t 'partners' %></h2>
    <ul >
      <li>
        <a class="textLinkRight" href="http://www.iccaforum.org/index.php?option=com_content&view=article&id=86&Itemid=102 ">ICCA Consortium<br/>
        <%= image_tag "ICCA consort.png", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://www.thegef.org/ ">Global Environment Facility<br/>
        <%= image_tag "GEF new.jpg", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://sgp.undp.org/ ">GEF Small Grants Programme<br/>
        <%= image_tag "SGP_transparent.png", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://www.undp.org/ ">UNDP<br/>
        <%= image_tag "UNDP_Logo.gif", :width => "119" %></a>
      </li>

    </ul>
  </div>
</div>
<script language="javaScript" type="text/javascript">
    /*$(document).ready( function() {

        String.prototype.linkify = function() {
            return this.replace(/[A-Za-z]+:\/\/[A-Za-z0-9-_]+\.[A-Za-z0-9-_:%&\?\/.=]+/, function(m) {
                return m.link(m);
            });
        };

    });
    */
</script>
