<% content_for :javascripts do %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/javascripts/country/countries_map.js"></script>
    <script type="text/javascript" src="/javascripts/country/continentMarker.js"></script>
<% end %>
        
<% content_for :title do
  title_text = t("home.title")
  two_lines = title_text.length > 60 %>
  <p class="flash-Bigtitle" style="<%= "line-height:0.5em;" if two_lines %>"><%= title_text %></p>
<% end %>

<% content_for :banner do %>
    <div class="span-24 first last articles orange-bg">
      <div class="span-15 first article">
        <div class="welcome-strip">
            <h2 class="flash-h2">
              <% if @content %>
                <%= @content.title %>
              <% else %>
                <%= t('home.welcome_title') %>
              <% end -%>
            </h2>
            <% if @content %>
              <%= @content.body %>
              <% if can? :update, @content %>
                <%= link_to 'Edit', edit_static_content_path(@content), :class => "textLink" %>
              <% end %>
            <% else %>
              <ul>
                <li><%= link_to t('home.learn'), about_path %> <%= t('home.learn_text') %></li>
                <li><%= link_to t('home.participate'), participate_path %> <%= t('home.participate_text') %></li>
                <li><%= link_to t('home.explore'), about_path %> <%= t('home.explore_text') %></li>
              </ul>
            <% end -%>
        </div>
      </div>
      <div class='span-8 last article'>
        <div class="homepage-map" id="countries_map">
        </div>
      </div>
    </div>
  <%= render :partial => "site_photo_banner" %>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 article articleborder">
    <h2><%= t 'home.introduction' %></h2>
    <p><%= t 'home.intro.para_1', :benefits_link => link_to(t('home.intro.benefits_link'), benefits_path) %></p>
    <p><%= t 'home.intro.para_2' %></p>
    <p><%= t 'home.intro.para_3'%></p>
    <p><%= t 'home.intro.para_4', :here => link_to(t('here'), project_path) %></p>
  </div>
</div>

<div class="span-8 last newshome">
  <div class="new">
    <h2 class="newsColumn flash-h2"><%= t 'home.what_are_iccas' %></h2>
    <p class="newsContent newborder"><%= t 'home.what_are_iccas_text' %><b><%= link_to " Learn more", countries_path %></b></p>

    <h2 class="newsColumn flash-h2"><%= t 'home.partners' %></h2>
    <p class="newsContent newborder"><%= t 'home.partners_text' %></p>
    <ul>
      <li>
        <a class="textLinkRight" href="http://www.iccaforum.org/index.php?option=com_content&view=article&id=86&Itemid=102 ">ICCA Consortium<br/>
        <%= image_tag "ICCA consort.png", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://www.thegef.org/ ">Global Environment Facility<br/>
        <%= image_tag "GEF new.jpg", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://sgp.undp.org/ ">GEF Small Grants Programme<br/>
        <%= image_tag "SGP_transparent.png", :width => "119px" %></a>
      </li>
      <li>
        <a class="textLinkRight" href="http://www.undp.org/ ">UNDP<br/>
        <%= image_tag "UNDP_Logo.gif", :width => "119" %></a>
      </li>
    </ul>

    <h2 class="newsColumn flash-h2"><%= t 'home.acknowledgements' %></h2>
    <p class="newsContent newborder"><%= t 'home.acknowledgements_text', :here => link_to(t('here'), acknowledgements_path) %></p>
  </div>
</div>
