<% content_for :title do %>
    <p class="flash-Bigtitle"><em><%= t 'register.title' %></em></p>
      
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2">
      <%= t 'register.title' %>
    </h2>
    <p><%= t 'register.para_1' %></p>
    <h3>
      <%= t 'register.register_online_title' %>
    </h3>
    <p><b><%= t('step').humanize %> 1. </b> <%= t 'register.online_step_1', :fpic_link => link_to(t("files.name.fpic_info_sheet"), t("files.location.fpic_info_sheet")) %></p>
    <p><b><%= t('step').humanize %> 2. </b> <%= t 'register.online_step_2', :signup_link => link_to(t("sign_up").humanize, new_user_path), :login_link => link_to(t("log_in"), login_path) %></p>
    <p><b><%= t('step').humanize %> 3. </b> <%= t 'register.online_step_3' %></p>
    <p><%= t 'register.online_step_3_note' %></p>
    <p><b><%= t('step').humanize %> 4. </b> <%= t 'register.online_step_4' %></p>
    <p><b><%= t('step').humanize %> 5. </b> <%= t 'register.online_step_5' %></p>
    <p><b><%= t('register.need_help').humanize %></b> <%= t 'register.help', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org") %></p>

    <h3>
      <%= t 'register.offline_title' %>
    </h3>
    <p><b><%= t('step').humanize %> 1. </b> <%= t 'register.online_step_1', :fpic_link => link_to(t("files.name.fpic_info_sheet"), t("files.location.fpic_info_sheet")) %></p>
    <p><b><%= t('step').humanize %> 2. </b> <%= t 'register.offline_step_2', :fpic_link => link_to(t("files.name.fpic_signature_form"), t("files.location.fpic_signature_form")) %></p>
    <p><b><%= t('step').humanize %> 3. </b> <%= t 'register.offline_step_3'%></p>
    <p><b><%= t('step').humanize %> 4. </b> <%= t 'register.offline_step_4', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org"), :contact_link => link_to(t('here'), contact_path) %></p>
    <p><b><%= t('register.need_help').humanize %></b> <%= t 'register.help', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org") %></p>
  </div>

</div>


<div class="span-8 last newscontact">
  <div class="new">
    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <%= render :partial => "photos/media_browser" %>
    <div id="basic-modal-content">
    </div>
    <br clear="all" />
  </div>
</div>
