<% content_for :title do %>
    <p class="flash-Bigtitle"><em><%= t 'register.title' %></em></p>
<% end %>

<% content_for :banner do %>
    <%= render :partial => "site_photo_banner" %>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <p><%= t 'register.para_1', :fpic_link => link_to(t('register.fpic_info_sheet'), t('files.location.fpic_info_sheet')) %></p>
    <h3>
      <%= t 'register.register_online_title' %>
    </h3>
    <p><b><%= t('step').humanize %> 1. </b> <%= t 'register.online_step_1', :signup_link => link_to(t("sign_up").humanize, "http://onlinert.demoapps.unep-wcmc.org/signup?lang=#{I18n.locale}"), :login_link => link_to(t("log_in"), "http://onlinert.demoapps.unep-wcmc.org/") %></p>
    <p><b><%= t('step').humanize %> 2. </b> <%= t 'register.online_step_2' %></p>
    <p><%= t 'register.online_step_2_note' %></p>
    <p><b><%= t('step').humanize %> 3. </b> <%= t 'register.online_step_3' %></p>
    <p><b><%= t('step').humanize %> 4. </b> <%= t 'register.online_step_4' %></p>
    <p><b><%= t('register.need_help').humanize %></b> <%= t 'register.help', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org") %></p>

    <h3>
      <%= t 'register.offline_title' %>
    </h3>
    <p><b><%= t('step').humanize %> 1. </b> <%= t 'register.offline_step_1', :fpic_link => link_to(t("files.name.fpic_signature_form"), t("files.location.fpic_signature_form")) %></p>
    <p>
      <b><%= t('step').humanize %> 2. </b> <%= t 'register.offline_step_2'%><br/>
      <%= t('register.download_options',
                 :pdf_link => link_to('PDF', t('files.location.questionnaire')),
                 :word_link => link_to('Word', t('files.location.questionnaire_word'))
           )%>
    </p>
    <p><b><%= t('step').humanize %> 3. </b> <%= t 'register.offline_step_3', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org"), :contact_link => link_to(t('here'), contact_path) %></p>
    <p><b><%= t('register.need_help').humanize %></b> <%= t 'register.help', :mail_link => link_to("iccaregistry@unep-wcmc.org", "mailto:iccaregistry@unep-wcmc.org") %></p>
  </div>

</div>


<div class="span-8 last newscontact">
  <div class="newsContent participateLinks">
    <h2 class="newsColumn flash-h2"><%= t('register.documents_title') %></h2>
    <ol>
      <li><h4><%= link_to t('files.name.fpic_info_sheet') + ' >', t('files.location.fpic_info_sheet') %></h4></li>
      <li><h4><%= link_to t('files.name.fpic_signature_form') + ' >', t('files.location.fpic_signature_form') %></h4></li>
      <li><h4><%= link_to t('files.name.case_study_template') + ' >', t('files.location.case_study_template') %></h4></li>
    </ol>
    <ul>
      <li><h4><%= link_to image_tag('pdf_icon.png') + ' ' + t('files.name.questionnaire'), t('files.location.questionnaire') %></h4></li>
      <li><h4><%= link_to image_tag('word_icon.png') + ' ' + t('files.name.questionnaire'), t('files.location.questionnaire_word') %></h4></li>
    </ul>
  </div>
  <br clear="all" />
</div>
