<div class="gallery">
  <div class="scrollable" id="infinite">
    <div class="items">
      <% i = 0
         @images.each do |photo| %>
          <img name="photo<%= i %>" id="photo<%= i %>" src="<%= photo.image.url(:small) %>" onclick="javascript: void showImage('photo<%= i %>','<%= photo.image.url(:full) %>')"/>
      <%  i += 1
          end %>
    </div>
  </div>
  <div class="rule">
    <hr class="horiRule"/>
  </div>
  <div class="naviButtons">
    <div class="column">
      <hr class="verRule"/>
    </div>
    <div class="column last">
      <a class="prevPage browse left"></a>
    </div>
    <div class="column">
      <a class="nextPage browse right"></a>
    </div>

  </div>
</div>
