<% content_for :javascripts do %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/javascripts/country/countries_map.js"></script>
    <script type="text/javascript" src="/javascripts/country/continentMarker.js"></script>
<% end %>

<% content_for :title do %>
  <%= link_to t('registry.title'), countries_path %>
<% end %>

<% content_for :banner do %>
  <div class="span-24 column widgetContainer">
    <div class="widget2" id="countries_map">
    </div>
  </div>
<% end %>

<div class="span-15 first articles">
  <div class="span-15 last article">
    <p class='map_explain'><%= t 'registry.map_explain' %></p>
    <h2 class="flash-h2"><%= t 'registry.project_title' %></h2>
    <p><%= t 'registry.project_text_1' %></p>
    <p><%= t 'registry.project_text_2' %></p>
    <p><%= t 'registry.project_text_3' %></p>
  </div>
  <div class="span-15 last article">
    <h2 class="flash-h2"><%= t 'registry.countries_title' %></h2>
    <% if can? :create, Country %>
        <%= link_to 'New country', new_country_path, :class => "textLink" %>
    <% end %>
    <div class="span-15 last tableContainer">
      <% @countries.each do |country| %>
          <div class="span-15 last table">
            <p class="titlesTables">
              <%= link_to "#{country.name}", country%>&nbsp
              <% if can? :update, country %>
                  <%= link_to "edit", edit_country_path(country), :class => "textLink" %>
              <% end %>
            </p>
            <p class="textTables"><%= country.description %></p>
          </div>
      <% end %>
      <div class="span-15 last table"> <!-- empty for inferior line -->
      </div>
    </div>
  </div>
</div>

<div class="span-8 last news">
  <div class="new">
    <h2 class="newsColumn flash-h2"><%= t 'registry.side_countries_title' %></h2>
    <ul>
      <% @countries.each do |country| %>
          <li>
            <%= link_to "#{country.name}", country, :class => "textLinkRight" %>
            <ul>
              <% country.sites.sort!{|a,b| a.name <=> b.name}.each do |site| %>
                  <li class="listICCA"><%= link_to "#{site.name}", site %></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
</div>
