<% content_for :title do %>
    ICCA Sites in <em><%= @country.name %></em>
<% end %>

<div class="span-15 first articles">
  <%= link_to 'Edit', edit_country_path(@country), :class => "textLink" if current_user %>
  <div class="span-15 last article">
      <%= @country.extended_description %>
  </div>
</div>

<div class="span-8 last newscountry">
  <div class="new">
    <div class="new">
      <h2 class="newsColumn flash-h2">All ICCA Sites in <%= @country.name %> <%= link_to "Add", new_country_site_path(@country), :class => "textLink" if current_user %></h2>
      <% @country.sites.each do |site| %>
          <ul>
            <li><%= link_to "#{site.name}", site, :class => "textLinkRight" %></li>
          </ul>
      <% end %>
    </div>
    <div class="new">
      <h2 class="newsColumn flash-h2">Latest news<div class="rss"></div></h2>
      <ul class="newsList" id="newsList"></ul>
    </div>
    <h2 class="newsColumn flash-h2">Publications Links</h2>
    <ul>
      <li>
        <a class="textLinkRight" href="http://cmsdata.iucn.org/downloads/mesoamerica_cca_study.pdf">Community Conserved Areas in Northern Mesoamerica</a>
        <p>A Review of Status & needs. Preliminary Report. Global Diversity Foundation, Mesoamerica. Pp.71 Camacho, C., Del Campo, C. & Martin, G. (2007). </p>
      </li>
      <li>
        <a class="textLinkRight" href="http://www.ccmss.org.mx/documentos/areas_naturales_de_conservacin_voluntaria.pdf ">Areas Naturales de Conservacion voluntaria</a>
        <p class="sinUnderline">Estudio elaborado para la Iniciativa Cuenca. Abril de 2007: pp.23 Salvador Anta, F. (2007)</p>
      </li>
    </ul>
  </div>
</div>
<script language="javaScript" type="text/javascript">
    $(document).ready( function() {
        var url = "http://search.twitter.com/search.json?callback=?&q=<%= @country.name %> indigenous&rpp=5";
        // var url = "http://search.twitter.com/search.json?callback=?&rpp=3&q=from:#indigenous";
        // var url = "http://twitter.com/status/user_timeline/Indigenous.json?count=3&callback=?";
        $.getJSON(url,function(data){
            $.each(data.results, function(i, item) {
                $("#newsList").append('<ul class="newsList"><li class="newTweet"><p class="newsTitular">'+item.text.linkify()+'<a class="textLink" href=""></a></p></li></ul>');
            });

        });

        function twitter_callback (){
            return true;
        }

        String.prototype.linkify = function() {
            return this.replace(/[A-Za-z]+:\/\/[A-Za-z0-9-_]+\.[A-Za-z0-9-_:%&\?\/.=]+/, function(m) {
                return m.link(m);
            });
        };

    });
</script>

