<h1>Editing form</h1>

<% semantic_form_for @form, :html => {:multipart => true} do |f| %>
    <%= f.error_messages %>
    <%= f.inputs :spatial_data if current_user == @form.user %>
    <%= f.inputs :site, :as => :select, :collection => Site.all if can? :manage, Form %>
    <%= f.buttons %>
<% end %>

<%= link_to 'Show', @form %> |
<%= link_to 'Back', forms_path %>
