<% content_for :title do %>
  <p class="flash-Bigtitle"><em>Contribute to the ICCA registry</em></p>
<% end %>

<% content_for :banner do %>
  <%= render :partial => "static/site_photo_banner" %>
<% end %>

<h1 class="flash-h2">ICCA Registry Questionnaire</h1>
<p>
    You must fill in a separate questionnaire for each ICCA you wish to submit
    to the ICCA Registry database. There are several required core questions 
    (highlighted) that each community must answer to help inform key ICCA issues.
    If the ICCA is already recognised by national legislation or a protected
    area system, the community should work with government representatives where
    possible to provide spatial and other information. The questionnaire can be
    <%= link_to "downloaded as a PDF Document", t('files.questionnaire') %>, or can be requested by email.
</p>
<h2 class="flash-h2">Fill in a new questionnaire</h2>
<% form_for @form do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :form, :user_id %>
  Please give each questionnaire a meaningful name e.g. the name of the ICCA<br/>
  <div style="float:left"><%= f.label :name %></div>
  <div style="float:left"><%= f.text_field :name %></div>
  <%= f.submit 'Start the questionnaire' %>
<% end %>
<% if @forms.size > 0 %>
  <h2 class="flash-h2">Questionnaires completed</h2>
  <table>
    <tr>
      <%= "<th>User</th>" if can? :manage, Form %>
      <th>Questionnaire Name</th>
      <th>Date Created</th>
      <%= "<th>Site</th>" if can? :manage, Form %>
      <%= "<th>Spatial Data</th>" if can? :manage, Form %>
      <th>Edit</th>
      <%= "<th>Destroy</th>" if can? :manage, Form %>
      <%= "<th>Spatial Data</th>" unless can? :manage, Form %>
    </tr>

    <% @forms.each do |form| %>
      <tr>
        <%= "<th>#{form.user.username}</th>" if can? :manage, Form %>
        <td><%=h form.name %></td>
        <td><%=h form.created_at %></td>
        <% if can? :manage, Form %>
          <td><%=h form.site.try(:name) %></td>
          <td>
            <% if form.spatial_data.file? %>
              <%= link_to 'Download', form.spatial_data.url %>
            <% end %>
          </td>
          <td><%= link_to 'Edit the questionnaire', edit_form_path(form) %></td>
          <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
        <% else %>
          <td><%= link_to 'Edit the questionnaire', form.edit_link if form.edit_link.present? %></td>
          <td><%= link_to 'Upload Spatial Data', edit_form_path(form) %></td>
        <% end %>
      </tr>
      <tr>
        <td style="border: 0px"></td>
        <td style="border: 0px"></td>
        <td><b>Documents</b></td>
        <td><%= link_to 'Upload A Document', new_form_document_path(form) %>
      </tr>
      <% form.documents.each do |doc| %>
        <tr>
          <td style="border: 0px"></td>
          <td style="border: 0px"></td>
          <td>
            <%=h doc.name %>
            <%= link_to 'Download', doc.doc.url %>
          </td>
          <td>
            <%= link_to 'Edit', edit_document_path(doc) %> |
            <%= link_to 'Destroy', doc, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
      
