<% content_for :title do %>
  <p class="flash-Bigtitle"><em>Contribute to the ICCA registry</em></p>
<% end %>

<% content_for :banner do %>
  <%= render :partial => "static/site_photo_banner" %>
<% end %>

<h1>ICCA Registry Questionnaire</h1>
<p>
  You must fill in a questionnaire for each ICCA you wish to submit to us.
  The survey is also available as a Word Document to download, or can be requested by email. There 
  are around 10 core questions that each community should address to help inform key ICCA issues. Answers
  to additional questions will enhance understanding of the contribution of ICCAs from around the world,
  including information on management and governance. If the ICCA is already recognised by national
  legislation or a protected area system, the community should work with government representatives where
  possible to provide spatial and other information.
</p>
<h2>Fill in a new questionnaire</h2>
<% form_for @form do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :form, :user_id %>
  Please give each questionnaire a meaningful name (e.g. site name)<br/>
  <div style="float:left"><%= f.label :name %></div>
  <div style="float:left"><%= f.text_field :name %></div>
  <%= f.submit 'Start the questionnaire' %>
<% end %>
<% if @forms.size > 0 %>
  <h2>Questionnaires completed</h2>
  <table>
     top #F4EFEB
    <tr>
      <%= "<th>User<th>" if can? :manage, Form %>
      <th>Questionnaire Name</th>
      <th>Date Created</th>
      <th>Site</th>
      <%= "<th>Spatial Data<th>" if can? :manage, Form %>
    </tr>

    <% @forms.each do |form| %>
      <tr>
        <%= "<th>#{form.user.username}<th>" if can? :manage, Form %>
        <td><%=h form.name %></td>
        <td><%=h form.created_at %></td>
        <td><%=h form.site.try(:name) %></td>
        <% if can? :manage, Form %>
          <td>
            <% if form.spatial_data.file? %>
              <%= link_to 'Download', form.spatial_data.url %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_form_path(form) %></td>
          <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
        <% else %>
          <td><%= link_to 'Upload Spatial Data', edit_form_path(form) %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>Documents</b></td>
        <td><%= link_to 'Upload A Document', new_form_document_path(form) %>
      </tr>
      <% form.documents.each do |doc| %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <%=h doc.name %>
            <%= link_to 'Download', doc.doc.url %>
          </td>
          <td>
            <%= link_to 'Edit', edit_document_path(doc) %> |
            <%= link_to 'Destroy', doc, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
      
