<% content_for :title do %>
  <p class="flash-Bigtitle"><em>ICCA Registry Questionnaire - '<%=h @form.name %>'</em></p>
<% end %>
<div class='contentIndent'>
  <h1>Important Information</h1>
  <h2 class="flash-h2">
    Partially completing or editing your responses
  </h2>
  <p>
      If you wish to partially complete a questionnaire and then return to it
      later or be able to edit your responses in the future, you must first
      complete all the questionnaire's required fields and submit your responses,
      by clicking the ‘Submit’ button on the last page.
  </p>
  <p>
      Upon submitting the questionnaire, you will see a link ‘Edit your response’
      which will allow you to return to the questionnaire and edit your results
      at any time through your user page when you are logged in on the ICCA
      Registry website. 
  </p>
  <p>
      Please copy this ‘Edit your response’ link below, as without it you will be
      unable to return to your questionnaire. [Click the right button of your
      mouse while hovering over the ‘Edit your response’ link and select ‘Copy
      Link Location’ or 'Copy Shortcut'. Click the right button of your mouse in the blank box below
      the select ‘Paste’.] 
  </p>
  
  <% form_for @form, :html => {:onsubmit => "return validateUrl()"} do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :edit_link %><br />
      <%= f.text_field :edit_link %>
    </p>
    <p>
      <%= f.submit 'Save Edit Link' %>
    </p>
  <% end %>

  <p>
    After doing this, you will be able to return to your form at any time from the <%= link_to "User Page", forms_path %>
  </p>

  <hr style="height:5px" />
  <!-- FORM INCLUDE -->
  <div id="getFormId">
  </div>
  <% form_key = t('form.key') %>
  <iframe src="http://spreadsheets.google.com/embeddedform?formkey=<%= form_key %>&entry_114=<%= CGI::escape(@form.name) %>" width="930" height="11415" frameborder="0" marginheight="0" marginwidth="0" id='formFrame' onload="javascript:scroll(0,0)">Loading...</iframe>
</div>
<script>
  var googleLinkRegex = /^https?:\/\/spreadsheets\.google\.com\/.*embeddedform\?formkey=<%= form_key %>(.*)edit=.*$/;

  validateUrl = function () {
    if (googleLinkRegex.test($('#form_edit_link').val())){
      return true
    }
    else {
      alert('The link you copied is not valid, please follow the instructions to copy the link from the form, it should look like https://spreadsheets.google.com/a/....')
      return false
    }
  }

</script>
