<% content_for :title do %>
		
    <em><%= "#{truncate(@site.name, :length =>50)},"%></em> <%= link_to @site.country.name, @site.country %> 
<% end %>

<div class="span-15 first articles ">
  <div class="span-15 last article ">
    <div class="span-1 first imageContainer2">
      <%= image_tag @top_images[0].image.url(:medium) if @top_images[0].present? %>
      <%= @top_images[0].citation if @top_images[0].present? %>
    </div>
    <div class="span-1 imageContainer2">
      <%= image_tag @top_images[1].image.url(:medium) if @top_images[1].present? %>
      <%= @top_images[1].citation if @top_images[1].present? %>
    </div>
    <div class="span-1 last imageContainer2">
      <%= image_tag @top_images[2].image.url(:medium) if @top_images[2].present? %>
      <%= @top_images[2].citation if @top_images[2].present? %>
    </div>
  </div>
  <div class="span-15 last article">
    <% if can? :update, @site %>
        <%= link_to 'Edit', edit_site_path(@site), :class => "textLink" %>
    <% end %>
    <% if can? :delete, @site %>
        | <%= link_to 'Delete', @site, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <%= @site.extended_description %>
  </div>
</div>

<div class="span-8 last newsicca contentContainer">
  <div class="new">
    <div class="widgetnews" id="widgetnews">
    </div>
    <%= render :partial => "sites_flash_map" %>
  </div>
  <div class="new">
    <h2 class="newsColumn flash-h2">Multimedia resources
      <% if (can? :update, @site) && (can? :create, Photo) %>
          <%= link_to "Add | ", new_associated_photo_path(:type => :site, :id => @site.id), :class => "textLinkRight"  %>
      <% end %>
      <% if (can? :update, @site) && (can? :update, Photo) %>
          <%= link_to "Edit", photos_site_path, :class => "textLinkRight"  %>
      <% end %>
    </h2>
    <%= render :partial => "photos/media_browser" %>

    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>
  <%= render :partial => "links/important_links", :locals => {:linkable => @site} %>
</div>
