<% content_for :title do %>
    <em><%= "#{@site.name}, #{@site.country.name}" %></em>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <div class="span-1 first imageContainer2"><%= image_tag @top_images[0].image.url(:medium) if @top_images[0].present? %></div>
    <div class="span-1 imageContainer2"><%= image_tag @top_images[1].image.url if @top_images[1].present? %></div>
    <div class="span-1 last imageContainer2"><%= image_tag @top_images[2].image.url if @top_images[2].present? %></div>
  </div>
  <%= link_to 'Edit', edit_site_path(@site), :class => "textLink" if current_user %>
  <div class="span-15 last article">
    <%= @site.extended_description %>
  </div>
</div>

<div class="span-8 last newscountry">
  <div class="new">
    <h2 class="newsColumn flash-h2">Multimedia resources
      <%= link_to "Add | ", new_associated_photo_path(:type => :site, :id => @site.id), :class => "textLinkRight" if current_user  %>
      <%= link_to "Edit", photos_site_path, :class => "textLinkRight" if current_user  %>
    </h2>
    <%= render :partial => "photos/media_browser" %>


    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>
</div>
