<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd" >
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'typo' %>
  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'formtastic_changes' %>
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <%= javascript_include_tag 'jquery.tools.min' %>
  <%= javascript_include_tag 'jquery.flash' %>
  <%= javascript_include_tag 'jquery.simplemodal' %>
  <%= javascript_include_tag 'tiny_mce/jquery.tinymce' %>
  <%= javascript_include_tag 'init' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_include_tag 'cufon/cufon-yui' %>
  <%= javascript_include_tag 'cufon/TitilliumText14L_400.font' %>
</head>

<body>

<div class="container">
  <div class="span-24 column header">
    <a href="index.html"><div class="span-1 last headerLogo"></div></a>
    <div class="span-1 last menu">
      <ul>
        <li><a href="index.html" class="selected">HOME</a> /</li>
        <li class=""><a href="about.html">ABOUT ICCAs</a> /</li>
        <li class=""><%= link_to "ICCA REGISTRY", countries_path %> /</li>
        <li class=""><a href="faqs.html">FAQS</a> /</li>
        <li class=""><a href="contact.html">CONTACT US</a></li>
        <% if current_user %>
            /
            <li class=""><%= link_to "LOGOUT", logout_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="span-24 column headerInfoInf">
      <p class="flash-Bigtitle"><%= yield :title %></p>
    </div>
  </div>
  <%= yield :banner %>
  <div class="span-24 last contentContainer">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>
  </div>
</div>
<div class="footerContainer">
  <div class="container">
    <div class="span-1 last logos"></div>
    <div class="span-18 last footerInfo"><p>All rights reserved. ICCA. 2009  /  <a href="contact.html">Contact us</a>  /  <a href="">Legal Terms</a>  / <a href="">Sitemap</a></p></div>
  </div>
</div>
</body>
</html>
